@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .shadow-btn {
    box-shadow: 8px 8px 5px 0px rgba(0, 0, 0, 0.188);
  }
  @keyframes moveForwardSm {
    20% {
      transform: translateX(70px) scale(0.9);
    }
    40% {
      transform: translateX(140px) scale(0.8);
    }
    60% {
      transform: translateX(210px) scale(0.7);
    }
    80% {
      transform: translateX(280px) scale(0.6);
    }
  }

  @keyframes moveForwardMd {
    20% {
      transform: translateX(90px) scale(0.9);
    }
    40% {
      transform: translateX(180px) scale(0.8);
    }
    60% {
      transform: translateX(280px) scale(0.7);
    }
    80% {
      transform: translateX(380px) scale(0.6);
    }
  }

  @keyframes moveForwardLg {
    20% {
      transform: translateX(120px) scale(0.9);
    }
    40% {
      transform: translateX(240px) scale(0.8);
    }
    60% {
      transform: translateX(360px) scale(0.7);
    }
    80% {
      transform: translateX(480px) scale(0.6);
    }
  }

  .move-map {
    animation: moveForwardSm 30s both infinite;

    @screen md {
      animation-name: moveForwardMd;
    }

    @screen lg {
      animation-name: moveForwardLg;
    }
  }
}

.flipCard {
  position: relative;
  /* width: 50%;
  height: 300px; */
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 1s ease;
}
.flipCard .side {
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: black;
  border-radius: 10px;
}

.flipCard .back {
  transform: rotateY(180deg);
}

.rotate {
  transform: rotateY(180deg);
}

.testimonial-item {
  position: relative;
  text-align: center;
  padding-top: 30px;
}

.testimonial-item .testimonial-text {
  position: relative;
  text-align: center;
}

.testimonial-item .testimonial-text .btn-square {
  position: absolute;
  width: 60px;
  height: 60px;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

.testimonial-item .testimonial-text::before {
  position: absolute;
  content: '';
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  border: 30px solid;
  border-color: #dfe4fd transparent transparent transparent;
}

.testimonial-item .testimonial-text::after {
  position: absolute;
  content: '';
  bottom: -59px;
  left: 50%;
  transform: translateX(-50%);
  border: 30px solid;
  border-color: #ffffff transparent transparent transparent;
}

/* .swiper-container { */
/* Optional: Set max-width or any other styles */
/* } */

.swiper-pagination {
  position: relative !important;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 30px;
}

.swiper-pagination-bullet {
  position: relative;
  background-color: #86c421 !important; /* Change dot color */
  width: 15px !important ; /* Change dot width */
  height: 15px !important; /* Change dot height */
  margin: 0 2px; /* Adjust spacing between dots */
}

.swiper-pagination-bullet::before {
  position: absolute;
  top: -50%;
  left: -50%;
  border-radius: 50%;
  content: '';
  width: 30px; /* Change dot width */
  height: 30px; /* Change dot height */
  border: 2px solid #86c421;
}

.swiper-pagination-bullet-active {
  background-color: #2b6cb0; /* Change active dot color */
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 500px) {
  .swiper-pagination {
    margin-top: 1rem;
  }
}
