@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes moveForwardSm {
    20% {
      transform: translateX(70px) scale(0.9); /* Adjusted for sm:w-80 */
    }
    40% {
      transform: translateX(140px) scale(0.8);
    }
    60% {
      transform: translateX(210px) scale(0.7);
    }
    80% {
      transform: translateX(280px) scale(0.6);
    }
  }

  @keyframes moveForwardMd {
    20% {
      transform: translateX(90px) scale(0.9);
    }
    40% {
      transform: translateX(180px) scale(0.8);
    }
    60% {
      transform: translateX(280px) scale(0.7);
    }
    80% {
      transform: translateX(380px) scale(0.6);
    }
  }

  @keyframes moveForwardLg {
    20% {
      transform: translateX(120px) scale(0.9);
    }
    40% {
      transform: translateX(240px) scale(0.8);
    }
    60% {
      transform: translateX(360px) scale(0.7);
    }
    80% {
      transform: translateX(480px) scale(0.6);
    }
  }

  .move-map {
    animation: moveForwardSm 30s both infinite;

    @screen md {
      animation-name: moveForwardMd;
    }

    @screen lg {
      animation-name: moveForwardLg;
    }
  }
}

.flipCard {
  position: relative;
  /* width: 50%;
  height: 300px; */
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: transform 1s ease;
}
.flipCard .side {
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: black;
  border-radius: 10px;
}

.flipCard .back {
  transform: rotateY(180deg);
}

.rotate {
  transform: rotateY(180deg);
}
